<strong>Olá, {{ courier }}</strong>
<p>Foi cadastrado uma nova encomenda para ser entrege. Confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ address }} <br />
  <br />
  <small>
    As entregas só podem ser retiradas do horário das 8:00 às 18:00.
  </small>
</p>
