<strong>Olá, {{ courier }}</strong>
<p>Uma encomenda foi cancelada. Confira os detalhes abaixo:</p>
<p>
  <strong>Entrega: </strong> #{{ delivery_id }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
</p>
